# Node modules
node_modules/
yarn.lock

# IDE 설정
*.iml
*.idea

# 빌드 및 임시 파일
*.log
*.tmp
*.cache

# 환경 관련 파일
.env
.env.production

# 각 폴더의 .gitignore 파일 참조
# (아래에 예시 포함)
back/.gitignore
front/.gitignore

#mac
.DS_Store